In [2]:
import pandas as pd

full_dfdf = pd.read_parquet("./dbtest.parquet")

In [16]:
full_df = df
df = full_df.iloc[:40000]

In [5]:
import awswrangler as wr

In [ ]:
wr.data_api.rds.connect(
    "imprint-aurora-instance-1.canndqdikygz.us-east-1.rds.amazonaws.com", "postgres", ""
)

In [9]:
import psycopg2

con = psycopg2.connect(
    host="imprint-aurora-instance-1.canndqdikygz.us-east-1.rds.amazonaws.com",
    user="postgres",
    password="",
    dbname="postgres",
)

In [12]:
query = "create table tiles (" + ",".join([f"{c} real" for c in df.columns]) + ")"
query

'create table tiles (alpha0 real,orig_lam real,B_lam_0 real,B_lam_1 real,B_lam_2 real,B_lam_3 real,B_lam_4 real,B_lam_5 real,B_lam_6 real,B_lam_7 real,B_lam_8 real,B_lam_9 real,B_lam_10 real,B_lam_11 real,B_lam_12 real,B_lam_13 real,B_lam_14 real,B_lam_15 real,B_lam_16 real,B_lam_17 real,B_lam_18 real,B_lam_19 real,B_lam_20 real,B_lam_21 real,B_lam_22 real,B_lam_23 real,B_lam_24 real,B_lam_25 real,B_lam_26 real,B_lam_27 real,B_lam_28 real,B_lam_29 real,B_lam_30 real,B_lam_31 real,B_lam_32 real,B_lam_33 real,B_lam_34 real,B_lam_35 real,B_lam_36 real,B_lam_37 real,B_lam_38 real,B_lam_39 real,B_lam_40 real,B_lam_41 real,B_lam_42 real,B_lam_43 real,B_lam_44 real,B_lam_45 real,B_lam_46 real,B_lam_47 real,B_lam_48 real,B_lam_49 real,twb_min_lam real,twb_mean_lam real,twb_max_lam real,sim_sizes real,todo real,grid_pt_idx real,theta_0 real,radii_0 real,theta_1 real,radii_1 real,theta_2 real,radii_2 real,theta_3 real,radii_3 real,null_truth_0 real,null_truth_1 real,null_truth_2 real)'

In [14]:
con.commit()

In [15]:
cur = con.cursor()
cur.execute(query)
con.commit()

In [18]:
from sqlalchemy import create_engine
import psycopg2
import io

engine = create_engine(
    "postgresql+psycopg2://postgres:password@imprint-aurora-instance-1.canndqdikygz.us-east-1.rds.amazonaws.com:5432/postgres"
)

df.head(0).to_sql(
    "table_name", engine, if_exists="replace", index=False
)  # drops old table and creates new empty table

In [29]:
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
df.to_csv(output, sep="\t", header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, "table_name", null="")  # null values become ''
conn.commit()

In [30]:
df_read = pd.read_sql(
    "select * from table_name order by orig_lam limit 10000", con=engine
)

In [31]:
pd.read_sql("select count(*) from table_name", con=engine)

    count
0  120000

In [32]:
df_read

,alpha0,orig_lam,B_lam_0,B_lam_1,B_lam_2,B_lam_3,B_lam_4,B_lam_5,B_lam_6,B_lam_7,...,radii_0,theta_1,radii_1,theta_2,radii_2,theta_3,radii_3,null_truth_0,null_truth_1,null_truth_2
0,0.011344,0.067102,0.068492,0.064507,0.064008,0.066330,0.070598,0.066630,0.064795,0.066543,...,0.015625,0.703125,0.015625,0.671875,0.015625,-0.796875,0.015625,True,True,True
1,0.011344,0.067102,0.068492,0.064507,0.064008,0.066330,0.070598,0.066630,0.064795,0.066543,...,0.015625,0.703125,0.015625,0.671875,0.015625,-0.796875,0.015625,True,True,True
2,0.011344,0.067102,0.068492,0.064507,0.064008,0.066330,0.070598,0.066630,0.064795,0.066543,...,0.015625,0.703125,0.015625,0.671875,0.015625,-0.796875,0.015625,True,True,True
3,0.011344,0.067102,0.068492,0.064507,0.064008,0.066330,0.070598,0.066630,0.064795,0.066543,...,0.015625,0.703125,0.015625,0.671875,0.015625,-0.796875,0.015625,True,True,True
4,0.011344,0.067102,0.068492,0.064507,0.064008,0.066330,0.070598,0.066630,0.064795,0.066543,...,0.015625,0.703125,0.015625,0.671875,0.015625,-0.796875,0.015625,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.011176,0.073770,0.073985,0.069092,0.068127,0.071451,0.076335,0.072681,0.068893,0.072681,...,0.015625,0.421875,0.015625,0.421875,0.015625,-0.953125,0.015625,True,True,True
9996,0.011176,0.073770,0.073985,0.069092,0.068127,0.071451,0.076335,0.072681,0.068893,0.072681,...,0.015625,0.421875,0.015625,0.421875,0.015625,-0.953125,0.015625,True,True,True
9997,0.011176,0.073770,0.073985,0.069092,0.068127,0.071451,0.076335,0.072681,0.068893,0.072681,...,0.015625,0.421875,0.015625,0.421875,0.015625,-0.953125,0.015625,True,True,True
9998,0.011176,0.073770,0.073985,0.069092,0.068127,0.071451,0.076335,0.072681,0.068893,0.072681,...,0.015625,0.421875,0.015625,0.421875,0.015625,-0.953125,0.015625,True,True,True
9999,0.011176,0.073770,0.073985,0.069092,0.068127,0.071451,0.076335,0.072681,0.068893,0.072681,...,0.015625,0.421875,0.015625,0.421875,0.015625,-0.953125,0.015625,True,True,True